<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Default title of the page is set in config.ini -->
    <title>{{ @title }}</title>

    <link rel="icon" href="img/favicon.png" type="image/png" >

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="app/web/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/web/css/bootstrap/bootstrap-theme.min.css">

    <!-- jQuery ui -->
    <link rel="stylesheet" type="text/css" href="app/web/css/jquery-ui/jquery-ui.1.12.0.min.css">
    <link rel="stylesheet" type="text/css" href="app/web/css/jquery-ui/jquery-ui.theme.min.css">

    <!-- custom styles -->
    <style>
        body, html {
            background-color: #cccccc;
        }
    </style>
</head>